<%= link_to("Create New Post", new_posts_path) %>
<%= link_to("Login", login_path) %>
<%= link_to("Log Out", login_path, method: :destroy) %>

<h1> FORGEDDIT! </h1>

<ul class="posts">
  <% @posts.each do |post| %>
    <li class="post">
      <h2><a href="<%= post.link_url %>"><%= post.title %></a></h2>
      <%= link_to("Delete", post_path(post), method: :delete) %>
      <%= link_to("Comments", post_path(post)) %>
      <p>Posted by: <%= post.user.first_name %> <%= time_ago_in_words(post.created_at) %> ago</p>
    </li>

  <% end %>
</ul>
