<h2> Create Post </h2>

<%= form_tag(posts_path, method: :post) do %>
  <div class="post-field">
    <%= label_tag("Title:") %>
    <%= text_field_tag("title") %>
  </div>

  <div class="post-field">
    <%= label_tag("Link URL:") %>
    <%= text_field_tag("link_url") %>
  </div>

  <%= button_tag("Submit") %>

  </br>
  </br>

  <%= link_to("Home", root_path) %>

<% end %>
