<!DOCTYPE html>
<html>
<head>
  <title>Forgeddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if flash[:notice] %>
      <h3 class="alert"><%= flash[:notice] %></h3>
  <% end %>

<%= yield %>

</body>
</html>
